<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:panelGroup>
        <h:panelGroup layout="block" rendered="#{!productController.edit}">
            <h3>Add new product</h3>
        </h:panelGroup>
        <h:panelGroup layout="block" rendered="#{productController.edit}">
            <h3>Edit product</h3>
        </h:panelGroup>
        <h:form>
            <p>
                <h:outputLabel value="Name: "/>
                <h:inputText value="#{productController.product.name}"/>
            </p>
            <p>
                <h:outputText value="Price: "/>
                <h:inputText value="#{productController.product.price}"/>
            </p>
            <p>
                <h:outputText value="Description: "/>
                <h:inputText value="#{productController.product.description}"/>
            </p>
            <p>
                <h:outputLabel value="Category: "/>
                <h:selectOneMenu value="#{productController.selectedCategory}">
                    <f:selectItems value="#{productController.categories}"/>
                </h:selectOneMenu>
            </p>
            <h:commandButton value="Save" action="#{productController.save}"/>
        </h:form>
        <h:messages/>
    </h:panelGroup>
    <h:panelGroup rendered="#{empty productController.products}">
        <h3>Empty list, create products</h3>
    </h:panelGroup>
    <h:panelGroup rendered="#{not empty productController.products}">
        <h:dataTable value="#{productController.products}" var="product">
            <h:column>
                <f:facet name="header">ID</f:facet>
                #{product.id}
            </h:column>
            <h:column>
                <f:facet name="header">Name</f:facet>
                #{product.name}
            </h:column>
            <h:column>
                <f:facet name="header">Price</f:facet>
                #{product.price}
            </h:column>
            <h:column>
                <f:facet name="header">Description</f:facet>
                #{product.description}
            </h:column>
            <h:column>
                <f:facet name="header">Category</f:facet>
                #{product.category.name}
            </h:column>
            <h:column>
                <h:form>
                    <h:commandButton value="edit" action="#{productController.editProduct(product)}"/>
                    <h:commandButton value="delete" action="#{productController.delete(product)}"/>
                </h:form>
            </h:column>
        </h:dataTable>
    </h:panelGroup>
</f:view>
</html>
