<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:panelGroup rendered="#{!productCategoryController.edit}">
        <h3>Add product category</h3>
        <h:form>
            <h:outputLabel value="Name:"/>
            <h:inputText value="#{productCategoryController.productCategory.name}"/>
            <h:outputLabel value="Description:"/>
            <h:inputText value="#{productCategoryController.productCategory.description}"/>
            <h:commandButton action="#{productCategoryController.save}" value="Save"/>
        </h:form>
    </h:panelGroup>
    <h:panelGroup rendered="#{productCategoryController.edit}">
        <h3> Edit product category</h3>
        <h:form>
            <h:outputLabel value="Name:"/>
            <h:inputText value="#{productCategoryController.productCategory.name}"/>
            <h:outputLabel value="Description:"/>
            <h:inputText value="#{productCategoryController.productCategory.description}"/>
            <h:commandButton action="#{productCategoryController.save}" value="Save"/>
        </h:form>
    </h:panelGroup>
    <h:panelGroup rendered="#{empty productCategoryController.categoryList}">
        <p>Table is empty! Please add new items.</p>
    </h:panelGroup>
    <h:panelGroup rendered="#{not empty productCategoryController.categoryList}">
        <h:dataTable value="#{productCategoryController.categoryList}" var="prodCategory">
            <h:column>
                <f:facet name="header">ID</f:facet>
                #{prodCategory.id}
            </h:column>
            <h:column>
                <f:facet name="header">Name</f:facet>
                #{prodCategory.name}
            </h:column>
            <h:column>
                <f:facet name="header">Description</f:facet>
                #{prodCategory.description}
            </h:column>
            <h:column>
                <h:form>
                    <h:commandButton action="#{productCategoryController.editCategory(prodCategory)}" value="Edit"/>
                    <h:commandButton action="#{productCategoryController.delete(prodCategory)}" value="Delete"/>
                </h:form>
            </h:column>
        </h:dataTable>
    </h:panelGroup>
</f:view>
</html>
